<head>

  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <meta name="Keywords" content="">
  <meta name="Description" content="">
    <style type="text/css">
        /*.news {
            width:65%;
            position:relative;
            margin: 0 auto;   
        }*/
        /*.news .news-title {overflow:hidden;position:relative;}
        .news #showOrHide1 {position:absolute; top:31%; right:10px;}
        .news #showOrHide2 {position:absolute; top:31%; right:10px;}*/

        .hidabout div{
            width: 200px;
            margin:20px auto;
        }


        .hidabout a, .hidabout a:active, .hidabout a:visited {
            text-align: center;
            color:#fff;
            font-family: 'futura';  
            font-size:19px;
            line-height:1.8em;
        }
        .hidabout a:hover {
        color:#000;
        font-family:futuralight;
        font-size:19px;
        line-height:1.8em;
        text-align: center;
        }

    </style>

 </head>

<div class="sideshadow"></div>
<section class="main clearfix" >
    <div class="hidabout">
        
        <a >
            Thanks for finding me 
        </a> 

    </div>
</section>