

<section class="main clearfix" id="ani">

    <div class="sideshadow"></div>
    <div class="lightbox">
        <img src="http://opp49kao3.bkt.clouddn.com/image/gif/daydayenglish.gif" class="head-img-move">      
        <img src="http://opp49kao3.bkt.clouddn.com/image/gif/Mockup3.gif" class="head-img-move">    
        <img src="http://opp49kao3.bkt.clouddn.com/image/gif/miumiu.gif" class="head-img-move">       
        <img src="http://opp49kao3.bkt.clouddn.com/image/gif/animation003.gif" class="head-img-move">
        <img src="http://opp49kao3.bkt.clouddn.com/image/gif/animtion000.gif" class="head-img-move">
        </br></br></br></br></br></br></br>
  
    </div>
   
</section>