
<!--1-->
<section class="main clearfix" id="ani">
    <div style="margin:30px 0">
        <div class="img-title">
            <div style="text-align:left;">
                <span style="color:#000000;">
                    <span style="font-family:futuranormal;">
                        <span style="font-size:14px;">Father's Day</span>
                    </span>
                </span>
            </div>
            <div style="text-align:left;">
                <span style="color:#999;">
                    <span style="font-family:futuralight;">
                        <span style="font-size:12px;">Love looks not with eyes, but with mind.</span>
                    </span>
                </span>
            </div>
            <div style="text-align:left;">
                <span style="color:#999;">
                    <span style="font-family:futuralight;">
                        <span style="font-size:12px;">DREAM</span>
                    </span>
                </span>
            </div>
        </div>
        <div class="lomo-img" style="margin-right:220px; margin-top:20px">
            <img src="http://opp49kao3.bkt.clouddn.com/image/lomo/dad.jpg" class="head-img">
        </div>
    </div>
</section>
<!--2-->
<section class="main clearfix" id="ani">
    <div style="margin:30px 0">
        <div class="img-title">
            <div style="text-align:left;">
                <span style="color:#000000;">
                    <span style="font-family:futuranormal;">
                        <span style="font-size:14px;">Street</span>
                    </span>
                </span>
            </div>
            <div style="text-align:left;">
                <span style="color:#999;">
                    <span style="font-family:futuralight;">
                        <span style="font-size:12px;">Re-exp. with Lomo Lc-a</span>
                    </span>
                </span>
            </div>
            <div style="text-align:left;">
                <span style="color:#999;">
                    <span style="font-family:futuralight;">
                        <span style="font-size:12px;">CHINA</span>
                    </span>
                </span>
            </div>
        </div>
        <div class="lomo-img" style="margin-right:220px; margin-top:20px">
            <img src="http://opp49kao3.bkt.clouddn.com/image/lomo/exp.jpg" class="head-img">
        </div>
    </div>
</section>
<!--3-->
<section class="main clearfix" id="ani">
    <div style="margin:30px 0">
        <div class="img-title">
            <div style="text-align:left;">
                <span style="color:#000000;">
                    <span style="font-family:futuranormal;">
                        <span style="font-size:14px;">Rainbow</span>
                    </span>
                </span>
            </div>
            <div style="text-align:left;">
                <span style="color:#999;">
                    <span style="font-family:futuralight;">
                        <span style="font-size:12px;">Disneyland Memory</span>
                    </span>
                </span>
            </div>
            <div style="text-align:left;">
                <span style="color:#999;">
                    <span style="font-family:futuralight;">
                        <span style="font-size:12px;">HONGKONG</span>
                    </span>
                </span>
            </div>
        </div>
        <div class="lomo-img" style="margin-right:220px; margin-top:20px">
            <img src="http://opp49kao3.bkt.clouddn.com/image/lomo/hongkong1.jpg" class="head-img">
        </div>
    </div>
</section>
<!--4-->
<section class="main clearfix" id="ani">
    <div style="margin:30px 0">
        <div class="img-title">
            <div style="text-align:left;">
                <span style="color:#000000;">
                    <span style="font-family:futuranormal;">
                        <span style="font-size:14px;">Balloon</span>
                    </span>
                </span>
            </div>
            <div style="text-align:left;">
                <span style="color:#999;">
                    <span style="font-family:futuralight;">
                        <span style="font-size:12px;">Can't be tamed</span>
                    </span>
                </span>
            </div>
            <div style="text-align:left;">
                <span style="color:#999;">
                    <span style="font-family:futuralight;">
                        <span style="font-size:12px;">HONGKONG</span>
                    </span>
                </span>
            </div>
        </div>
        <div class="lomo-img" style="margin-right:220px; margin-top:20px">
            <img src="http://opp49kao3.bkt.clouddn.com/image/lomo/bump.jpg" class="head-img">
        </div>
    </div>
</section>
<!--5-->
<section class="main clearfix" id="ani">
    <div style="margin:30px 0">
        <div class="img-title">
            <div style="text-align:left;">
                <span style="color:#000000;">
                    <span style="font-family:futuranormal;">
                        <span style="font-size:14px;">Prototype</span>
                    </span>
                </span>
            </div>
            <div style="text-align:left;">
                <span style="color:#999;">
                    <span style="font-family:futuralight;">
                        <span style="font-size:12px;">Man and car</span>
                    </span>
                </span>
            </div>
            <div style="text-align:left;">
                <span style="color:#999;">
                    <span style="font-family:futuralight;">
                        <span style="font-size:12px;">SHANGHAI</span>
                    </span>
                </span>
            </div>
        </div>
        <div class="lomo-img" style="margin-right:220px; margin-top:20px">
            <img src="http://opp49kao3.bkt.clouddn.com/image/lomo/proto.jpg" class="head-img">
        </div>
    </div>
</section>
<!--6-->
<section class="main clearfix" id="ani">
    <div style="margin:30px 0">
        <div class="img-title">
            <div style="text-align:left;">
                <span style="color:#000000;">
                    <span style="font-family:futuranormal;">
                        <span style="font-size:14px;">Prototype</span>
                    </span>
                </span>
            </div>
            <div style="text-align:left;">
                <span style="color:#999;">
                    <span style="font-family:futuralight;">
                        <span style="font-size:12px;">Man and car</span>
                    </span>
                </span>
            </div>
            <div style="text-align:left;">
                <span style="color:#999;">
                    <span style="font-family:futuralight;">
                        <span style="font-size:12px;">SHANGHAI</span>
                    </span>
                </span>
            </div>
        </div>
        <div class="lomo-img" style="margin-right:220px; margin-top:20px">
            <img src="http://opp49kao3.bkt.clouddn.com/image/lomo/proto.jpg" class="head-img">
        </div>
    </div>
</section>
<!--7-->
<section class="main clearfix" id="ani">
    <div style="margin:30px 0">
        <div class="img-title">
            <div style="text-align:left;">
                <span style="color:#000000;">
                    <span style="font-family:futuranormal;">
                        <span style="font-size:14px;">Sunset</span>
                    </span>
                </span>
            </div>
            <div style="text-align:left;">
                <span style="color:#999;">
                    <span style="font-family:futuralight;">
                        <span style="font-size:12px;">Re-exp. with Lomo Lc-a</span>
                    </span>
                </span>
            </div>
            <div style="text-align:left;">
                <span style="color:#999;">
                    <span style="font-family:futuralight;">
                        <span style="font-size:12px;">HANGZHOU</span>
                    </span>
                </span>
            </div>
        </div>
        <div class="lomo-img" style="margin-right:220px; margin-top:20px">
            <img src="http://opp49kao3.bkt.clouddn.com/image/lomo/exp2.jpg" class="head-img">
        </div>
    </div>
</section>
<!--8-->
<section class="main clearfix" id="ani">
    <div style="margin:30px 0">
        <div class="img-title">
            <div style="text-align:left;">
                <span style="color:#000000;">
                    <span style="font-family:futuranormal;">
                        <span style="font-size:14px;">Kevin</span>
                    </span>
                </span>
            </div>
            <div style="text-align:left;">
                <span style="color:#999;">
                    <span style="font-family:futuralight;">
                        <span style="font-size:12px;">To my best friend</span>
                    </span>
                </span>
            </div>
            <div style="text-align:left;">
                <span style="color:#999;">
                    <span style="font-family:futuralight;">
                        <span style="font-size:12px;">THE NETHERLANDS</span>
                    </span>
                </span>
            </div>
        </div>
        <div class="lomo-img" style="margin-right:220px; margin-top:20px">
            <img src="http://opp49kao3.bkt.clouddn.com/image/lomo/kevin.jpg" class="head-img">
        </div>
    </div>
</section>